# API Backend Base URL
VITE_API_BASE_URL=""

# Google Auth Client ID
VITE_GOOGLE_CLIENT_ID=""

# Rules Config
VITE_MAX_FREE_USERS=100
VITE_FREE_USER_QUOTA_BYTES=10737418240
VITE_FREE_USER_ACTIVE_DAYS=30
